

nav{
    background-color:#6495ED;
    border-radius: 10px;
    height: 50px;
    margin: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

nav>ul>li>a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px ;
    text-decoration: none;
}
nav>ul>li{
    height: 50px;
}
nav>ul>li a:hover {
    background-color: #D3D3D3;
    border-color:#696969 #DCDCDC #DCDCDC #696969;
}
nav>ul>li {
    float: left;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 1px 4px 5px #696969;
}
body{
    background-color: dimgrey;
}
#mami{
    float: left;
}


p#mame{
    margin-left:25px ;
}
/*pour la page contact*/
form#paiement {

    background-color: dimgrey;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    width: 1000px;
    margin-left: 100px;
}
form#paiement fieldset {
    border: none;
    margin-bottom: 10px;
}
form#paiement fieldset:last-of-type {
    margin-bottom: 0;
}
form#paiement legend {
    color: #384313;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    text-shadow: 0 1px 1px #c0d576;
}
form#paiement fieldset fieldset legend {
    color: #111111;
    font-size: 13px;
    font-weight: normal;
    padding-bottom: 0;
}
form#paiement ol li {

    background: gray;

    background: rgba(255,255,255,.3);
    border-color: #e3ebc3;
    border-color: rgba(255,255,255,.6);
    border-style: solid;
    border-width: 2px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    line-height: 30px;
    list-style: none;
    padding:  10px;
    margin-bottom: 2px;
}
form#paiement ol ol li {
    background: none;
    border: none;
    float: left;

}
form#paiement input:not([type=radio]),
form#paiement textarea {
    background: white;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    font: italic 13px Georgia, "Times New Roman", Times, serif;
    outline: none;
    padding: 10px;
    width: 200px;
}
form#paiement input:not([type=submit]):focus,
form#paiement textarea:focus {
    background: #eaeaea;
}
form#paiement input[type=radio] {
    float: left;
    margin-right: 5px;
}
form{

    margin-top: 20px;
    margin-left: 200px;

}
form#paiement button {
    background: darkslategrey;
    border: none;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    color: #ffffff;
    display: block;
    font: 18px Georgia, "Times New Roman", Times, serif;
    letter-spacing: 1px;
    margin: auto;
    padding: 7px 25px;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
}
form#paiement button:hover {
    background:lightblue;
    cursor: pointer;
}
h5{
    margin-top: 20px;
    color:deepskyblue;
    margin-left:500px;
}
#b{
    margin-left:400px ;
    margin-top:60px ;
}
#formu{
    margin-left: 400px;
}
#ps{
    margin-left: 400px;
}
#mami{
    font-size: 18px;
}

#p{
    font-size: 12px;
    float: left;
}

.mab{
    margin-left: 200px;
}
.p{
    font-size:18px ;
}
/*pour le slide*/
.slide{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slide ul{
    display:flex;
    padding: 0;
    width: 400px;
}
.slide li{
    width:100%;
    list-style: none;
}
.slide img{

}
main{
    background:dimgrey;
    color:#fff;

    font-size:14px;
}
.wrapper{
    margin:20px auto;
    width:350px;
    text-align:center;
}
.content{
    position:absolute;
    background:#fff;
    top:0px;
    left:-10px;
    height:200px;
    width:1200px;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease;
    clear:both;
}
.item{
    float:left;
    width:300px;
    height:200px;
    position:relative;
}
#article1, #article2, #article3, #article4{
    overflow:hidden;
    background:transparent;
    width:300px;
    height:250px;
    margin:0 auto;
    position:relative;
}
#article1:target .content{
    left:-10px;
}
.sliderContainer{
    position:relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border:10px solid #fff;
    height:200px;
    width:500px;
    overflow:hidden;
}
#article2:target .content, #article3:target .content, #article4:target .content{
    -webkit-transform: translate(-300px, 0px);
    -moz-transform: translate(-300px, 0px);
    -o-transform: translate(-300px, 0px);
    -ms-transform: translate(-300px, 0px);
    transform: translate(-300px, 0px);
}
#article3:target .content{
    -webkit-transform: translate(-600px, 0px);
    -moz-transform: translate(-600px, 0px);
    -o-transform: translate(-600px, 0px);
    -ms-transform: translate(-600px, 0px);
    transform: translate(-600px, 0px);
}
#article4:target .content{
    -webkit-transform: translate(-900px, 0px);
    -moz-transform: translate(-900px, 0px);
    -o-transform: translate(-900px, 0px);
    -ms-transform: translate(-900px, 0px);
    transform: translate(-900px, 0px);
}

#article2 a{
    position:absolute;
    bottom:10px;
    left:105px;
}
#article3 a{
    position:absolute;
    bottom:10px;
    left:155px;
}
#article4 a{
    position:absolute;
    bottom:10px;
    left:205px;
}
#article1:target> a, #article2:target> a, #article3:target> a, #article4:target> a{
    background:#999;
    color:#999;
}
a:hover{
    background:#0077ff;
    color:#0077ff;
}
.item img{
    margin:auto;
    margin-top:22px;
    width:200px;
    height:150px;
}
img{
    width: 500px;
}
.champ_invalide{
    border: 1px solid #ff0000;
}